<div class="flashcard">
	<div class="question_area">
		<div class="question_prefix">ANSWER ME THIS, IGNORANT FOOL:</div>
		<div class="question"></div>
		<div class="question_prefix">RECORD YOUR ANSWER AND PROVE YOUR MASTERY:</div>
		<textarea rows=4 cols=88></textarea>
	</div>
	<div class="answer_area" style="display:none">
		<div class="answer_prefix">THE ANSWER PROCEEDS THUSLY:</div>
		<div class="answer"></div>
	</div>
	<div class="source_area" style="display:none">
		<div class="source_prefix" style="display:none">IF YOU DOUBT IT, CONSULT:</div>
		<div class="source_prefix" style="display:none">THERE IS NARY A SOURCE YET FOR THIS</div>
		<div class="source"></div>
	</div>
	<div class="flashcard_meta">
		<span class="flashcard_date"></span>
		<span class="topics_description"></span>
	</div>
</div>
