<div class="flashcard">
	<div class="question_area">
		<div class="question_prefix">ANSWER ME THIS, IGNORANT FOOL:</div>
		<div id="question"></div>
		<div class="question_prefix">RECORD YOUR ANSWER AND PROVE YOUR MASTERY:</div>
		<textarea rows=4 cols=88></textarea>
	</div>
	<div class="answer_area">
		<div class="answer_prefix">THE ANSWER PROCEEDS THUSLY:</div>
		<div id="answer"></div>
	</div>
	<div class="source_area">
		<div class="source_prefix">IF YOU DOUBT IT, CONSULT:</div>
		<div class="source_prefix">THERE IS NARY A SOURCE YET FOR THIS</div>
		<div id="source"></div>
	</div>
	<div class="flashcard_meta">
		<span id="flashcard_date"></span>
		<span id="topics_description"></span>
	</div>
</div>
