<div id="flashcard_dropdowns">
	<%= render "flashcard_dropdowns" %>
</div>
<div id="question_number">Question <span id="current_question_n">1</span> out of <span id="total_questions_n"><%= @flashcards.length %></span></div>
<div id="flashcards">
	<%= render "flashcards_actual" %>
</div>
