<div id="tags">
	<div id="selected_tags_container">
		<div class="tag_field_header">Selected Tags</div>
		<div id="selected_tags">
		</div>
	</div>
	<div id="available_tags_container">
		<div class="tag_field_header">Available Tags</div>
		<div id="available_tags">
		</div>
	</div>
</div>
