<div class="container">
	<div class="upload">
    <%= f.fields_for @logo do |logo_f| %>
      <%= logo_f.label :logo, "Logo" %>
      <%= logo_f.file_field :logo, :name => ("campaign_image[" + @logo.image_type + "]") %>
      <%= logo_f.submit "", :name => "upload_button[#{@campaign.id}]", :class => "uploadButton" %>
    <% end %>
	</div>
</div>
