// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue_0:#60b0d0;
$blue_1:#3399FF;
$blue_2:#3aa6d0;
$blue_3:#0b5fa5;
$blue_4:#0066FF;
$blue_5:#000099;
$blue_6:#000055;

$green_0:#D6FFAD;
$green_1:#89C16C;
body{
	background-color: $blue_0;
	font-family:sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

#container {
	background-color:$blue_3;
	padding-top:2em;
	padding-left:3em;
	padding-right:3em;
	max-width:50em;
	min-height:50em;
	border-radius:1em;
	margin-top: 3em;
	margin: 0 auto;
	text-align: left;
}

//nav bar************************************************************************
#nav_bar {
	border-radius:.5em;
	background-color:$blue_6;
	height:6em;
	width:100%;
	position:relative;
}

#nav_bar ul {
	list-style-type:none;
	position:absolute; top:25%;
	text-align:center;
}

#nav_bar li {
	display: inline;
	margin: 0 0.5em 0 0;
}
#nav_bar a {
	border-radius:0.5em;
	margin:1em;
}
#nav_bar a:link, a:visited {
	font-weight: bold;
	font-family: sans-serif;
	color: $blue_6;
	background-color: $blue_1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em;
}

#nav_bar a:hover, a:active {
	background-color: $blue_4;
}

//tabs content************************************************************************
#tabs {
	float:left;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
	width:100%;
}

.tab {
	clear: both;
}

button{
	height:3em;
	padding-left:2em;
	padding-right:2em;
	border-radius:2em;
	margin:0.5em;
	background-color:#DDD;
}

//flashcard tab**************************************
$topic_window_height:16em;

#flashcards {
}

.topics, #dates {
	float:left;
	overflow:auto;
	height:$topic_window_height;
	margin-top:1em;
}

.topics {
	width:25%;
}

.dates {
	width:7em;
}

.topic, .date {
}

#flashcard_dropdowns {
	height:$topic_window_height;
}

#question_number_holder{
	width:100%;
	margin-bottom:1em;
	text-align:center;
}

#question_number {
	background-color:$blue_1;
	border-radius:0.25em;
	font-size:small;
	padding:.5em;
}

#flashcard_buttons{
	text-align:center;
}

.flashcard_button{
	width:20em;
	height:3em;
}

//content of flashcards********************************

.flashcard {
	font-size:large;
	background-color:$blue_2;
	border-radius:0.25em;
	padding:1em;
	margin:1em;
}

.topics_description, .flashcard_date {
	margin-left:3em;
	margin-right:3em;
}

.question, .answer, .source{
	color:$blue_6;
	padding:1em;
	background-color:$green_0;
	border-radius:0.5em;
}

.question_prefix, .answer_prefix, .source_prefix{
	margin-left:2em;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

.notice {
	color:red;
	background-color:$blue_1;
}

.flashcard_meta {
	text-align:center;
	margin-top:1em;
}

//update tab*********************************************************************************
.update_label {
	display:inline-block;
	width:7em;
}

#update_dropdowns{
	padding:1em;
}
