// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.update_field_label {
	width:100px;
	display:inline;
}

.flashcard {
	font-size:large;
}

.container {
	margin-top:100px;
	margin-left:100px;
}

.flashcard_question {
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}

.flashcard_answer {
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}

.notice {
	color:red;
}
